:root {
    --verypaleblue: hsl(225, 100%, 98%);
    --desaturatedblue: hsl(224, 23%, 55%);
    --darkblue: hsl(223, 47%, 23%);
    --paleblue: hsl(225, 100%, 94%);
    --brightblue: hsl(245, 75%, 52%);
}

body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--paleblue);
}

.container {
    position: absolute;
    border-radius: 3%;
    background-color: var(--verypaleblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

